* {
  font-family: "Roboto", sans-serif;
}
.fondomenu{
  color:#28A745;
}
small {
  font-weight: 300;
}
.precio-final {
  color: #28a745;
}
.texto{
  font-size:16px;
  font-weight: 300;
}
.texto2{
  font-size: 13px;
  font-weight: 300;
  color: #707070;
}
